* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url("../../fonts/SFProText-Regular.ttf");
  font-family: "SFprotext";
}

@font-face {
  src: url(../../fonts/Gotham-Ultra.otf);
  font-family: "Gotham";
}

html,
body {
  font-family: "SFprotext";
}

.clear {
  clear: both;
}

.cinema {
  margin-top: 10px;
}

.cinema .cinema_custom {
  border: 1px solid #ebebec;
}

.cinema .cinema_custom .row .nav {
  vertical-align: middle;
}

.cinema .cinema_custom .row .nav .nav-link {
  opacity: 0.3;
  transition: all 0.5s;
}

.cinema .cinema_custom .row .nav .nav-link img {
  width: 50px;
  height: auto;
  padding: 5px 0 10px 0;
  margin: 0;
}

.cinema .cinema_custom .row .nav .nav-link::after {
  content: '';
  background-color: #ebebec;
  width: 100%;
  height: 1px;
  display: block;
  margin: 10px 0;
}

.cinema .cinema_custom .row .nav .nav-link:hover {
  opacity: 1;
}

.cinema .cinema_custom .row .nav .active {
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}

.cinema .cinema_custom .cinema__item .row .nav {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cinema .cinema_custom .cinema__item .row .nav .nav-link .cinema__text {
  font-size: 14px;
  color: #000;
}

.cinema .cinema_custom .cinema__item .row .nav .nav-link .cinema__text p {
  font-size: 12px;
  color: #949494;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 0;
}

.cinema .cinema__movie {
  height: 700px;
  overflow: auto;
}

.cinema .cinema__movie::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.cinema .cinema__movie::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 4px;
}

.cinema .cinema__movie::-webkit-scrollbar-track {
  background: #cdcdcd;
}

.cinema .cinema__movie {
  scrollbar-face-color: #9b9b9b;
  scrollbar-track-color: #cdcdcd;
}

.cinema .cinema__movie .row img {
  width: 100%;
  margin: 0;
}

.cinema .cinema__movie .row p {
  margin-bottom: 0;
}

.cinema .cinema__movie .row .cinema__time {
  color: #9b9b9b;
}

.cinema .cinema__movie .row .cinema__item__time {
  border: 1px solid #e4e4e4;
  background-color: rgba(246, 246, 246, 0.5);
  border-radius: 4px;
  color: #00ac4d;
  align-items: center;
  text-align: center;
}

.cinema .cinema__movie .row .cinema__item__time:hover {
  color: #fb4226;
}

.cinema .cinema__movie .row .cinema__item__time span {
  font-size: 10px;
  color: #9b9b9b;
}

.cinema .cinema__movie .cinema__movie__item .container {
  border: 0px;
}

.cinema .cinema__movie__bhd__item::after {
  content: '';
  background-color: #ebebec;
  width: 100%;
  height: 1px;
  display: block;
  margin: 10px 0;
}

.black_news .container {
  background-image: url(../../img/back-news.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  max-width: 940px;
  float: none;
  margin: auto;
  clear: both;
}

.news .news_custom .nav-tabs .nav-link {
  border: none;
  color: #000;
  transition: all 0.3s;
  text-decoration: none;
}

.news .news_custom .nav-tabs .nav-link:hover {
  color: #fb4226;
  font-size: 24px;
}

.news .news_custom .nav-tabs .active {
  border-bottom: 1px solid #ebebec;
  font-size: 24px;
  color: red;
}

.news .news_custom .tab-content .news__item .news__item__img img {
  width: 100%;
}

.news .news_custom .tab-content .news__item .news__item__text {
  font-size: 13px;
  margin-bottom: 10px;
}

.news .news_custom .tab-content .news__item .news__item__text p {
  overflow: hidden;
  width: 100%;
  height: 55px;
}

.news .news_custom .tab-content .news__item .news__item__text a {
  text-decoration: none;
}

.news .news_custom .tab-content .news__item .news__item__text .news__item__text_tieude p {
  overflow: hidden;
  display: -webkit-box;
  font-size: 16px;
  width: 100%;
  height: 42px;
  color: #000;
  transition: all 0.3s;
  text-decoration: none;
  font-weight: bold;
}

.news .news_custom .tab-content .news__item .news__item__text .news__item__text_tieude p:hover {
  color: #fb4226;
}

.news .news_custom .tab-content .news__item .news__item__text p {
  color: #4a4a4a;
}

.news .news_custom .tab-content .news__item .news__item__text span {
  justify-content: center;
  margin-right: 10px;
}

.news .news_custom .tab-content .news__item .news__item__text span img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.news .news_custom .tab-content .news_empty {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news .news_custom .tab-content .news_empty img {
  width: 100%;
}

.news .news_custom .tab-content .news_empty a {
  color: #000;
  transition: all 0.3s;
  text-decoration: none;
  font-weight: bold;
  font-weight: normal;
}

.news .news_custom .tab-content .news_empty a:hover {
  color: #fb4226;
}

@media (max-width: 992px) {
  .news .news_custom .tab-content .news_empty {
    height: 40px;
  }
}

@media (max-width: 576px) {
  .news .news_custom .tab-content .news_empty {
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */