    @mixin customButton() {
        text-align: center;
        width: 33px;
        border-radius: $border-radius;
    }
    
    @mixin button() {
        background-color: $color-white;
        border: 0;
        border-right: 1px solid $color-gray-3;
        border-radius: 0;
        color: $color-black;
    }
    
    #buttonMore {
        &:hover {
            background-color: $color-red-01;
            border: 1px solid $color-red-01;
        }
    }