.owl-carousel {
    .owl-prev {
        display: block;
        position: absolute;
        top: 33%;
        left: 3%;
        padding: 0%;
        width: 45px;
        height: 45px;
        border-radius: 50% !important;
        background-color: red !important;
        box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
        z-index: 3;
        span {
            // @include styleText($fs-3, $color-red-0, $fw-normal);
            line-height: 20;
        }
        &:focus {
            outline: none;
        }
    }
    .owl-next {
        left: unset;
        right: -3%;
    }
}
