.black_news {
    .container {
        background-image: url(../../img/back-news.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 120px;
        max-width: 940px;
        float: none;
        margin: auto;
        clear: both;
    }
}