// .movieComing {
//     padding-top: 75px;
//     .navCenter {
//         text-align: center;
//         border: none;
//         margin-bottom: 30px;
//     }
//     .myTab {
//         .tab-content {
//             position: relative;
//             .card {
//                 .movie__overplay {
//                     position: absolute;
//                     top: 0;
//                     left: 0;
//                     width: 100%;
//                     height: 100%;
//                     background: linear-gradient(to top, $color-black, transparent 100%);
//                     top: 0;
//                     border-radius: 4px;
//                 }
//                 .card-body {
//                     .ageType {
//                         font-size: 14px;
//                         background-color: #fb4226;
//                         border-radius: 4px;
//                         padding: 0 5px;
//                         color: #fff;
//                         min-width: 33px;
//                         text-align: center;
//                         display: inline-block;
//                         margin-right: 8px;
//                     }
//                     .nameFilm {
//                         height: 42px;
//                         max-height: 42px;
//                         font-family: "SF Medium";
//                         font-size: 16px;
//                         color: #000;
//                         line-height: 22px;
//                         margin-bottom: 0;
//                     }
//                     .time {
//                         font-size: 13px;
//                         color: #4a4a4a;
//                         margin-bottom: 15px;
//                         margin-top: 8px;
//                     }
//                     .showHover {
//                         a {
//                             background-color: $color-red-0 !important;
//                         }
//                     }
//                     .avgPoint {
//                         font-family: "SF Medium";
//                         font-size: 16px;
//                         background-color: rgba(12, 27, 54, 0.8);
//                         border: 1px solid #1f2e46;
//                         border-radius: 4px;
//                         padding: 2px;
//                         position: absolute;
//                         top: 12px;
//                         right: 12px;
//                         color: #fff;
//                         width: 54px;
//                         text-align: center;
//                         line-height: 1.1;
//                         .txtPoint {
//                             text-align: center;
//                             transform: scaleY(1.2);
//                         }
//                         p {
//                             margin: 0 !important;
//                             text-align: center;
//                             img {
//                                 max-width: 8px;
//                                 display: inline;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
.movieComing {
    margin-top: 50px;
    .nav {
        border: none;
        align-items: center;
        text-align: center;
        font-weight: 600;
        a {
            border: none;
            font-size: 20px;
            align-items: center;
            @include newsLink(24px);
        }
        .active {
            p {
                color: $color-red-0;
                font-size: 24px;
            }
        }
    }
    position: relative;
    .movieComing_hover {
        // padding: 0;
        padding-top: 10px;
        // padding-left: 10px;
        .movieComing_item {
            padding: 0;
            left: 10px;
            .movieComing_time {
                font-size: 13px;
                color: $color-gray-2;
            }
            .movieComing_freeYourChoose {
                position: absolute;
                top: -13px;
                left: 3px;
                width: 50%;
                img {
                    width: 100%;
                }
            }
            .movieComing__detail {
                a {
                    position: absolute;
                    z-index: 1;
                    width: 40px;
                    height: 40px;
                    border: 1px solid white;
                    border-radius: 50%;
                    margin: 0;
                    top: 40%;
                    left: 55%;
                    transform: translate(-100%, -50%);
                    i {
                        top: -50%;
                        left: -50%;
                        transform: translate(100%, 50%);
                    }
                }
                transition: all 0.1s;
                opacity: 0;
            }
            .movieComing_img {
                position: relative;
                img {
                    width: 100%;
                }
                .movieComing_img_hover {
                    position: absolute;
                    background: linear-gradient(to top, #000, transparent 100%);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all 0.5s;
                }
            }
            .movieComing_award {
                img {
                    width: 10px;
                }
                p {
                    margin: 0;
                }
                position: absolute;
                font-size: 16px;
                background-color: rgba(12, 27, 54, .5);
                border-radius: $border-radius;
                padding: 2px 5px;
                color: white;
                top: 30px;
                right: 28px;
                text-align: center;
                line-height: 1.1;
            }
            .movieComing_soon {
                position: absolute;
                p {
                    font-size: 14px;
                    font-weight: bold;
                }
                bottom: 100px;
                right: 28px;
                transition: all 0.3s;
            }
            .movieComing_content {
                position: relative;
                .movieComing_content_text {
                    button {
                        overflow: hidden;
                    }
                }
                .movieComing_content_text_hover {
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    // display: none;
                    width: 100%;
                    background-color: $color-red-0;
                    text-align: center;
                    transition: all 0.5s;
                    border-radius: $border-radius;
                    margin: $pd-1 0px;
                    button {
                        color: white;
                        font-weight: bold;
                        padding: $pd-1 0;
                    }
                }
            }
        }
        &:hover {
            .movieComing_img {
                .movieComing_img_hover {
                    opacity: 1;
                }
            }
            .movieComing_content {
                .movieComing_content_text {
                    // display: none;
                    opacity: 0;
                }
                .movieComing_content_text_hover {
                    // display: block;
                    opacity: 1;
                }
            }
            .movieComing_soon {
                opacity: 0;
            }
            .movieComing__detail {
                opacity: 1;
            }
        }
    }
    .carousel-control-prev {
        left: -150px;
        img {
            width: 50px;
        }
    }
    .carousel-control-next {
        right: -150px;
        img {
            width: 50px;
        }
    }
    .movieComingResponsive {
        .movieComingResponsive_item {
            position: relative;
            margin-top: $pd-2;
            .moviComing_contentImgBig {
                position: relative;
                img {
                    width: 100%;
                }
            }
            .moviComing_contentImg {
                position: absolute;
                width: 30%;
                top: -30px;
                left: -25px;
                img {
                    width: 100%;
                }
            }
            .moviComing_contentText {
                position: absolute;
                bottom: -10px;
                width: 100%;
                padding: 0 10px;
                p {
                    font-size: 13px;
                }
                .moviComing_age {
                    float: left;
                }
                .moviComing_ageXuatChieu {
                    float: right;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .nav-tabs{
        padding-top: 75px;
    }
    .movieComing .movieComing_hover .movieComing_item .movieComing_soon {
        bottom: 130px;
        p {
            font-size: 10px;
        }
    }
}

@media (min-width: 992px) {
    .movieComing .movieComing_hover .movieComing_item .movieComing_soon {
        bottom: 120px;
        p {
            font-size: 12px;
        }
    }
}