    .news {
        .news_custom {
            .nav-tabs {
                .nav-link {
                    border: none;
                    @include newsLink(24px);
                }
                .active {
                    border-bottom: 1px solid $color-gray-3;
                    font-size: 24px;
                    color: red;
                }
            }
            .tab-content {
                .news__item {
                    .news__item__img {
                        img {
                            width: 100%;
                        }
                    }
                    .news__item__text {
                        font-size: 13px;
                        margin-bottom: $pd-1;
                        p {
                            overflow: hidden;
                            width: 100%;
                            height: 55px;
                        }
                        a {
                            text-decoration: none;
                        }
                        .news__item__text_tieude p {
                            overflow: hidden;
                            display: -webkit-box;
                            // -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            font-size: 16px;
                            width: 100%;
                            height: 42px;
                            @include newsLinks();
                        }
                        p {
                            color: $color-gray-1;
                        }
                        span {
                            justify-content: center;
                            margin-right: $pd-1;
                            img {
                                margin-right: $pd-1;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
                .news_empty {
                    width: 100%;
                    height: 60px;
                    margin-bottom: $pd-1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: $color-gray-2;
                    img {
                        width: 100%;
                    }
                    a {
                        @include newsLinks();
                        font-weight: normal;
                    }
                }
            }
        }
    }
    
    @media (max-width: 992px) {
        .news .news_custom .tab-content .news_empty {
            height: 40px;
        }
    }
    
    @media (max-width: 576px) {
        .news .news_custom .tab-content .news_empty {
            height: auto;
        }
    }